<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Fabric</key>
    <dict>
        <key>APIKey</key>
        <string>317d1ee4553de901e6f3400404a977a9b710b23b</string>
        <key>Kits</key>
        <array>
            <dict>
                <key>KitInfo</key>
                <dict>
                    <key>consumerKey</key>
                    <string>jBClH3SKVlvIW6ma1h9rfy8Cx</string>
                    <key>consumerSecret</key>
                    <string>qYaVl4iFaKKOIhfLTAzlYwiVTMjGzpmHsxHRcd2GJoaYOXJyym</string>
                </dict>
                <key>KitName</key>
                <string>Twitter</string>
            </dict>
        </array>
    </dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSPrincipalClass</key>
	<string></string>
</dict>
</plist>
